<%= render @chat_room %>

<div class="flex flex-wrap items-center gap mbs-6 mb-4" style="--row-gap: .5rem">
  <%= link_to "Edit this chat room", edit_chat_room_path(@chat_room), class: "btn" %>
  <%= link_to "Back to chat rooms", chat_rooms_path, class: "btn" %>
  <%= button_to "Destroy this chat room", @chat_room, method: :delete, class: "btn" %>
</div>

<%= turbo_stream_from @chat_room %>
<div id="chat_messages" class="flex flex-wrap flex-col gap">
  <%= render partial: "chat_messages/chat_message", collection: @chat_messages, as: :chat_message %>
</div>

<%= render partial: "chat_messages/form", locals: { chat_message: @chat_message, chat_room: @chat_room } %>
